[Unit]
Description=Gunicorn socket for Sri Mahalakshmi Stores API

[Socket]
ListenStream=/run/mnxstore/gunicorn.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
